<footer>
    <ul id="info">
      <h4 style="margin-top: 20px;text-decoration: underline;">Info</h4>
      <li><a href="/blog" class="footerlink">Blog</a></li>
      <li><a href="/aboutus" class="footerlink">About Us</a></li>
      <li><a href="/contact" class="footerlink"> FAQs</a></li>
      <li><a href="/contact" class="footerlink">Terms & Conditions</a></li>
      <li><a href="/contact" class="footerlink">Privacy Policy</a></li>
    </ul>
    <ul id="categories">
      <h4 style="margin-top: 20px;text-decoration: underline;">CATEGORIES</h4>
      <li class="dropdown">
        <a href="/necklace" class="footerlink">Necklaces</a>
        <ul class="dropdown-menu">
          <li><a href="/chainnecklace">Chain Necklace</a></li>
          <li><a href="/chokernecklace">Choker Necklace</a></li>
          <li><a href="/tennisnecklace">Tennis Necklace</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/earrings" class="footerlink">Earrings</a>
        <ul class="dropdown-menu">
          <li><a href="/studsearrings">Studs</a></li>
          <li><a href="/topsearrings">Tops</a></li>
          <li><a href="/dangleearrings">Dangle Earrings</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/ring" class="footerlink">Rings</a>
        <ul class="dropdown-menu">
          <li><a href="/engagementring">Engagement Ring</a></li>
          <li><a href="/eternityring">Eternity Ring</a></li>
          <li><a href="/weddingring">Wedding Ring</a></li>
          <li><a href="/birthstonering">Birthstone Ring</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/bracelets" class="footerlink">Bracelets</a>
        <ul class="dropdown-menu">
          <li><a href="/tennisbracelets">Tennis Bracelet</a></li>
          <li><a href="/chainlinkbracelets">Chain Link Bracelet</a></li>
          <li><a href="/banglebracelets">Bangle Bracelet</a></li>
          <li><a href="/charmbracelets">Charm Bracelet</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/pandals" class="footerlink">Pendant</a>
        <ul class="dropdown-menu">
          <li><a href="/tennisbracelets">Diamond Pendant</a></li>
          <li><a href="/chainlinkbracelets">Pendant Set</a></li>
        </ul>
      </li>
    </ul>
    
    <div id="Address-links">
      <h4 style="margin-top: 20px">Address & Links</h4>
      <div id="up">
        48w 48th street suit 1008
        <div id="down">New york ny 10036, United States</div>
      </div>
      <div id="links">
        <a href="https://www.instagram.com/greencraftjewels?igsh=MWR0dGhqNHQ3djR0bA%3D%3D" target="_blank" class="footerlink"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.facebook.com/profile.php?id=61557452414753&mibextid=kFxxJD" target="_blank" class="footerlink"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      
        <a href="mailto:Info@greencraftjewels.com" class="footerlink"><i class="fa-solid fa-envelope"></i></a>


        <a href="tel:91+8799593958" class="footerlink"
          ><i class="fa-solid fa-phone"></i
        ></a>
      </div>
      <div id="copyright">© 2024, GREEN CRAFT JEWELS. All rights reserved.</div>
      <img
        src="/img/greencraftbgremove.png"
        alt=""
        height="200"
        width="200"
        id="logofooter"
      />
    </div>
  </footer>
  <div id="search">
    <hr style="color: black" />
    <p style="text-decoration: underline">POPULAR SEARCH</p>
    <p>
      Diamond engagement rings | Gold wedding rings | Custom diamond rings |
      Unique gold rings | Diamond solitaire rings | Vintage gold rings |
      Diamond anniversary rings | Gold promise rings | Diamond pendant
      necklace | Gold chain necklace | Diamond choker necklace | Gold heart
      necklace | Diamond tennis necklace | Gold bar necklace | Diamond locket
      necklace | Gold photo locket | Personalized diamond locket | Gold
      filigree locket | Diamond stud earrings | Gold hoop earrings | Diamond
      halo earrings | Diamond chandelier earrings | Diamond tennis bracelet |
      Custom diamond bracelet| Gold cuff bracelet | Gold friendship bracelet
    </p>
  </div>