
<div id="registerform">
    <div id="registermodalimg">
      <img src="/img/register/modal.jpeg" alt="" id="registerimg" />
    </div>
    <div id="registerformdata">
      <div id="close">
        <i onclick="closebtn()" id="closeebtn" class="fa-solid fa-x"></i>
      </div>
      <span
        style="
          font-weight: 300;
          font-size: 28px;
          font-family: Canela, Georgia, Times, 'Times New Roman', serif;
          color: rgb(0, 0, 0);
          margin-left: 30px;
        "
        >Join Us</span
      >
      <form
        action="/register"
        method="post"
        id="inputform"
        style="margin: 30px"
      >
        <input
          type="text"
          placeholder="User Name"
          id="username"
          name="username"
          style="
            border: 1px solid black;
            width: 300px;
            padding: 10px;
            margin: 10px;
          "
        />
        <input
          type="email"
          placeholder="Email"
          id="email"
          name="email"
          style="
            border: 1px solid black;
            width: 300px;
            padding: 10px;
            margin: 10px;
          "
        />
        <input
          type="password"
          placeholder="Password"
          id="password"
          name="password"
          style="
            border: 1px solid black;
            width: 300px;
            padding: 10px;
            margin: 10px;
          "
        />
        <button
          type="submit"
          id="submit"
          style="
            border: 1px solid black;
            width: 300px;
            padding: 10px;
            margin: 10px;
          "
        >
          register
        </button>
        <div id="loginandforgetpassword">
          <a id="loginlink">Login</a>
        </div>
      </form>
    </div>
  </div>